<div class="container">
    <footer class="footer">
        <small>Copyright &copy; <a href="https://www.google.com">Almost done</a> By <a href="https://www.anas3452.com">Anas Arshad</a></small>
        <nav>
            <ul>
                <li><%= link_to  "About Us", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>